@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.auth{
    display: none;
    height: 85vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.auth-form{
    background-color: #157A6E;
    padding: 2rem;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 4px 15px #000c0b4d;
}
.auth-form label, .auth-form input{
    display: block;
    font-size: 1.1rem;
    
}
.auth-form p{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

.auth-form input{
    margin: 0.2rem 0 1rem 0;
    outline: none;
    width: 17rem;
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 5px;
}

.auth-form input[type="submit"]{
    margin-top: 2.5rem;
    width: 100%;
    background-color: #E63946;
    border: none;
    color: #fff;
    cursor: pointer;
}


.mid{
    width: 100%;
    text-align: center;
}
.login-route, .signup-route{
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}