@import "normalize.css";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header,
footer {
  background-color: #F22F46;
  color: #fff;
}
header a,
footer a {
  color: #fff;
}
header h1 {
  font-size: 2em;
  margin: 0.75em;
  line-height: 1;
}
footer p {
  font-size: 1em;
  margin: 1em;
}

header h1,
footer p {
  text-align: center;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: #F22F46;
  color: #fff;
  padding: 0.5em;
  border-radius: 6px;
  position: relative;
}
button[disabled] {
  opacity: 0.5;
}
button span {
  display: block;
  position: absolute;
  top: -0.75em;
  right: -0.25em;
  background-color: red;
  color: #fff;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  z-index: 10;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 6px;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.1);
}

.card {
  padding: 20px;
  margin-top: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.start.card {
  text-align: center;
}

.start.card {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.local-preview.car .left-preview{
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 70px;
  left: 200px;
  padding: 20px;
  margin-top: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.local-preview.car .right-preview{
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 300px;
  top: 200px;
  padding: 20px;
  margin-top: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.local-preview .video-preview {
  position: relative;
  left: 0px;
  margin-bottom: 20px;
  height: 0;
  padding-top: 75%;
}
.local-preview video {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.local-preview canvas {
  margin-bottom: 20px;
}
.local-preview .media-select {
  margin-bottom: 1em;
}
.local-preview select {
  display: block;
  margin-top: 0.5em;
  width: 100%;
}
.local-preview .controls + form {
  margin-top: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.local-preview .form-input {
  margin-bottom: 1em;
}
.local-preview .form-input input {
  display: block;
  width: 100%;
  font-size: inherit;
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 6px;
  border-width: 1px;
}
/* grid layout */

.video-chat {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  background-color: #060606;
}
.video-chat[hidden] {
  display: none;
}
.video-chat.screen-share {
  grid-template-rows: 1fr 100px auto;
}

.participants {
  --grid-columns: 1;
  --grid-rows: 1;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  padding: 0;
  margin: 0;
}

.participants > li {
  list-style: none;
  display: flex;
  align-items: center;
}
.participants > li.dominant video {
  border: 4px solid #F22F46;
}
.participants .video-wrapper {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 15rem);
}
.screen-share #activity {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 18rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-share #activity video {
  max-height: inherit;
  max-width: 100%;
}
.participants .actions {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 10;
}
.participants .video-wrapper video {
  width: 100%;
  max-height: inherit;
}

.participants .video-wrapper .info {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  z-index: 10;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
}
.participants .video-wrapper .info p {
  font-size: 2em;
  border: 4px solid #F22F46;
  border-radius: 50%;
  padding: 0.5em;
  margin: 0;
  background: #060606;
}
.participants .video-wrapper .name {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 0;
  padding: 0.25em;
}

.screen-share .participants {
  display: flex;
  flex-direction: row;
}
.screen-share .participants .video-wrapper {
  max-height: 100px;
}
.video-chat.screen-share #screen {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 15rem - 100px);
  display: flex;
  align-content: center;
}
.video-chat.screen-share #screen video {
  max-height: inherit;
  width: 100%;
}

.live-controls {
  background-color: #060606;
  padding: 0.5em;
}
.live-controls ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 0.5em;
}
.live-controls button {
  margin-right: 2px;
  line-height: 1;
}
.live-controls #reactions button {
  border-radius: 50%;
  font-size: 1.5em;
}

/* reactions */
.reaction {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  text-align: center;
  z-index: 10;
  font-size: 4em;
}

.reaction.size-1 {
  font-size: 2em;
}
.reaction.size-2 {
  font-size: 3em;
}
.reaction.size-3 {
  font-size: 4em;
}
.reaction.size-4 {
  font-size: 6em;
}
.reaction.size-5 {
  font-size: 8em;
}

.whiteboard-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
}
.whiteboard-canvas {
  object-fit: contain;
  display: block;
  max-height: 65vh;
  max-width: 100%;
}

.colour-list,
.brush-list {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin: 0.5em 0 0;
  --background-color: #fff;
}

.brush-list {
  top: 42px;
}

.colour-list label{
  background-color: var(--background-color);
  font-size: 0;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  margin-right: 8px;
  border: 3px solid transparent;
  border-color: rgb(110, 110, 110)
}

.brush-list label {
  background-color: var(--background-color);
  font-size: 0;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  margin-right: 8px;
  border: 3px solid transparent;
}

.colour-list li:last-child label,
.brush-list li:last-child label {
  margin-right: 0;
}
.colour-list input:checked + label,
.brush-list input:checked + label {
  border-color: #F22F46;
}
.colour-list input,
.brush-list input {
  display: none;
}

.brush-list label {
  position: relative;
}
.brush-list label::after {
  content: " ";
  display: block;
  background-color: #000;
  position: absolute;
}
.brush-list label[for="small"]::after {
  width: 3px;
  height: 3px;
  border-radius: 3px;
  top: 12px;
  left: 12px;
}
.brush-list label[for="medium"]::after {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  top: 10px;
  left: 10px;
}
.brush-list label[for="large"]::after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: 8px;
  left: 8px;
}

.brush-list label[for="x-large"]::after {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  top: 6px;
  left: 6px;
}

.brush-list label[for="big-chungus"]::after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: 4px;
  left: 4px;
}

.main-area {
  display: flex;
}
.main-area .participants {
  flex-grow: 1;
}
.main-area .chat {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 25%;
  max-width: 300px;
  min-width: 200px;
  max-height: calc(100vh - 14rem);
  background: #060606;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.main-area .chat[hidden] {
  display: none;
}
.main-area .chat .messages {
  list-style-type: none;
  flex-grow: 1;
  overflow-y: scroll;
  color: #fff;
  padding: 0;
  margin: 0 0 1em;
}
.main-area .chat .messages .author {
  font-weight: bold;
  margin: 0 0 0.25em;
}
.main-area .chat .messages .body {
  margin: 0 0 0.5em;
}

.main-area form label {
  color: #fff;
  display: block;
  margin-bottom: 0.5em;
}
.main-area input,
.main-area button {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}

/* preloader */

/* Loader Styles start here */
.loader-wrapper {
  --line-width: 5px;
  --curtain-color: #fff;
  --outer-line-color: #F22F46;
  --middle-line-color: #F22F46;
  --inner-line-color: #F22F46;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
}

.loader {
  display:block;
  position: relative;
  top:50%;
  left:50%;
/*   transform: translate(-50%, -50%); */
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--outer-line-color);
  border-radius:100%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  z-index:1001;
}

.loader:before {
  content:"";
  position: absolute;
  top:4px;
  left:4px;
  right:4px;
  bottom:4px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--inner-line-color);
  border-radius:100%;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.loader:after {
  content:"";
  position: absolute;
  top:14px;
  left:14px;
  right:14px;
  bottom:14px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--middle-line-color);
  border-radius:100%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}

.loader-wrapper .loader-section {
  position:fixed;
  top:0;
  background:var(--curtain-color);
  width:51%;
  height:100%;
  z-index:1000;
}

.loader-wrapper .loader-section.section-left {
  left:0
}
.loader-wrapper .loader-section.section-right {
  right:0;
}

/* Loaded Styles */ 
.loaded .loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded .loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded .loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded .loader-wrapper {
  visibility: hidden;
  transform:translateY(-100%);
  transition: all .3s 1s ease-out;
}
